* {
	box-sizing: border-box;
	font-family: futura;
	margin: 0;
}

.main-heading {
	line-height: 200px;
	text-align: center;
	font-size: 3rem;
	background-color: black;
	color: white
}

#register {
	margin: 5% 2%;
	display: flex;
	justify-content: center;
	background-color: gray;
	flex-wrap: wrap;
}



form input {
	flex-grow: 4;
	font-size: 3rem;
 }

 form button {
 	flex-grow: 1;
 	font-size: 2.5rem;
 }

 ul {
 	padding: 0;
 }

.list-li {
	font-family: futura;
	font-size: 3rem;
	list-style-type: none;
	border-style: solid;
	margin: 1.4rem;
	padding: 1.4rem;
	transition: 0.4s;
}

.label {
	font-family: helvetica;
	font-size: 2rem;
	margin: 0 0 0 20px;
	display: block;
}

.checkbox {
	width: 30px;
	height: 30px;
	margin: 0 0 0 20px;
}

.button {
	font-family: futura;
	color: white;
	background-color: black;
	padding: .5rem;
	font-size: 2rem;
}

.right {
	margin-left: 10px;
}

.input-edit {
	font-size: 2rem;
}

.finished {
	transition: 0.4s;
 	font-family: futura;
	font-size: 3rem;
	list-style-type: none;
	border-style: dotted;
	margin: 1.4rem;
	padding: 1.4rem;
}

.finished label {
	transition: 0.4s;
 	 color: rgba(88, 183, 205, 1);
}











