* {
	box-sizing: border-box;
	font-family: futura;
	margin: 0;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.main-heading {
	line-height: 200px;
	text-align: center;
	font-size: 3rem;
	background-color: black;
	color: white;
}

#register {
	margin: 5% 2%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: gray;
}

.list-li {
	font-family: futura;
	font-size: 3rem;
	list-style-type: none;
	border-style: solid;
	margin: 1.4rem;
	padding: 1.4rem;
	transition: 0.4s;
}



form input {
	flex-grow: 4;
	font-size: 3rem;
 }

 form button {
 	flex-grow: 1;
 	font-size: 2.5rem;
 }

 ul {
 	padding: 0;
 }



.label {
	font-family: helvetica;
	font-size: 2rem;
	margin: 0 0 0 20px;
	display: block;
}

.checkbox {
	width: 30px;
	height: 30px;
	margin: 0 0 0 20px;
}

.button {
	font-family: futura;
	color: white;
	background-color: black;
	padding: .5rem;
	font-size: 2rem;
}

.right {
	margin-left: 10px;
}

.input-edit {
	font-size: 2rem;
}

.finished {
	transition: 0.4s;
 	font-family: futura;
	font-size: 3rem;
	list-style-type: none;
	border-style: dotted;
	margin: 1.4rem;
	padding: 1.4rem;
	background-color: 	#FFF5EE;
	box-shadow: 10px 10px;
}

.finished label {
	transition: 0.4s;
}

.todo-list li {
	transition: 0.4s;
 	font-family: futura;
	font-size: 3rem;
	list-style-type: none;
	border-style: solid;
	margin: 1.4rem;
	padding: 1.4rem;
}

.main {
	
}

.filterLabel {
	font-size: 2rem;
	margin: 0 0 0 40%;
}

.filterCheckbox {
	margin: 0 0 0 20px;
	height: 25px;
	width: 25px;
}

@media(min-width: 769px){
	
	.wrapper {
		width: 90%;
	}

	.main-heading {
		line-height: 150px;
		text-align: center;
		font-size: 3rem;
		background-color: black;
		color: white;
	}

	#register {
		margin: 5% 2%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		background-color: gray;
	}

	form input {
		flex-grow: 4;
		font-size: 2rem;
 	}
 	 form button {
	 	flex-grow: 1;
	 	font-size: 2rem;
 	}

	ul {
		display: flex;
		flex-wrap: wrap;
	}

	.filterLabel {
		font-size: 1.5rem;
		margin: 0 0 0 40%;
	}

	.filterCheckbox {
		margin: 0 0 0 20px;
		height: 25px;
		width: 25px;
	}
	
}

@media(min-width: 1000px){

	.filterLabel {
		font-size: 1.5rem;
		margin: 0 0 0 50%;
	}

	.filterCheckbox {
		margin: 0 0 0 20px;
		height: 25px;
		width: 25px;
	}

}












